<meta name="google-site-verification" content="ljumAGpphY8z2o53mBnykwqdYRQmhBgTd3jGnhD7pPU" />
<div id="logo" class="left">
  <a href="/">
    <%= image_tag('arthur/logo.png', {alt: "logo"}) %>
  </a>
</div>
<%= render "/layouts/arthur/menu" %>
<div class="clear"></div>
<div id="top-body" >
  <h1 class="shadow"><br/>
  </h1>
</div>
