<div id="logo" class="left">
  <%= image_tag 'arthur/logo.png', alt: "logo" %>
</div>
<%= render "/layouts/arthur/menu" %>
<div class="clear"></div>
<div id="top-body" >
  <h1 class="shadow">Plaisir Maths</h1>
</div>
