<div id="logo" class="left">
  <a href="/">
    <%= image_tag('arthur/logo.png', {alt: "logo"}) %>
  </a>
</div>
<%= render "/layouts/arthur/menu" %>
<div class="clear"></div>
<div id="top-body" >
  <h1 class="shadow"></h1>
</div>
