<table id="table_index">
  <tr>
    <td></td>
    <td><h2 class="grey-shadow"><span><a href="enseignants">Le coin des enseignants</a></span></h2></td>
    <td></td>
  </tr>
  <tr>
    <td><h2 class="grey-shadow"><span><a href="animateurs">Le coin des animateurs</a></span></h2></td>
    <td><%= image_tag 'arthur/logo.png' %></td>
    <td><h2 class="grey-shadow"><span><a href="parents">Le coin des parents</a></span></h2></td>
  </tr>
  <tr>
    <td></td>
    <td><h2 class="grey-shadow"><span><a href="partenaires">Le coin des partenaires</a></span></h2></td>
    <td></td>
  </tr>
</table>

