<table id="table_index">
  <tr>
    <td></td>
    <td><h2 class="grey-shadow"><span><a href="qui_sommes_nous.html">Qui sommes-nous ?</a></span></h2></td>
    <td></td>
  </tr>
  <tr>
    <td><h2 class="grey-shadow"><span><a href="buts.html">Les buts de l'association</a></span></h2></td>
    <td><%= image_tag 'arthur/logo.png' %></td>
    <td><h2 class="grey-shadow"><span><a href="points_forts.html">Nos points forts</a></span></h2></td>
  </tr>
  <tr>
    <td></td>
    <td><h2 class="grey-shadow"><span><a href="actions.html">Nos actions</a></span></h2></td>
    <td></td>
  </tr>
</table>

