<table id="table_index">
  <tr>
    <td></td>
    <td><h2 class="grey-shadow"><span><a href="qui-sommes-nous">Le coin des enseignants</a></span></h2></td>
    <td></td>
  </tr>
  <tr>
    <td><h2 class="grey-shadow"><span><a href="buts">Le coin des animateurs</a></span></h2></td>
    <td><%= image_tag 'arthur/logo.png' %></td>
    <td><h2 class="grey-shadow"><span><a href="points_forts">Le coin des parents</a></span></h2></td>
  </tr>
  <tr>
    <td></td>
    <td><h2 class="grey-shadow"><span><a href="nos-actions">Le coin des partenaires</a></span></h2></td>
    <td></td>
  </tr>
</table>

